
footer{
    background-color: var(--footer-bg-color);
    color: var(--footer-color);
}

.footer-wrapper{
   width: var(--wrapper-width);
    margin: 0 20px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
}

.footer-wrapper > div{
 flex-grow: 1;
 min-width: 150px;

}

.footer-wrapper  h2{
    padding: 8px 0;
}

.footer-wrapper > div a{
    display: inline-block;
    color: var(--footer-color);
    padding: 6px 0;
    font-size: 14px;
    transition: all .5s;
}

.footer-wrapper > div a:hover{
    letter-spacing: .6px;
    text-decoration: underline;
    color: var(--footer-hover-color);
}
.footer-bottom-wrapper{
    background-color: var(--background-header);
    border-top: 1px solid #000000cb;
    padding: 8px;
}
.footer-bottom{
    width: var(--wrapper-width);
    font-size: 14px;
}

.footer-bottom a{
    display: inline-block;
    margin-left: 8px;
    font-size: 18px;
    padding: 4px 6px;
    background-color: #fff;
    color: #9b6150;
    border-radius: 50%;
    transition: all .4s;
}

.footer-bottom a:hover{
    transform: rotateY(180deg);
    color: var(--footer-hover-color);
}

.newsletter p{
    font-size: 14px;
    max-width: 250px;
    margin-bottom: 12px;
}

.newsletter input {
    display: block;
    width: 280px;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 6px;
    border: none;
}

.newsletter input[type="button"] {
    font-size: 18px;
    padding: 10px;
    color: #fff;
    background-color: #9b6150;
    box-shadow: 2px 2px rgba(0 0 0 /46%);
    transition: all .3s;
    cursor: pointer;
}
.newsletter input[type="button"]:hover{
    box-shadow: 2px 2px 2px 2px rgba(0 0 0 /46%);

}

.newsletter input:focus{
    outline: none;
}